.side_header{
    background-color: rgb(0, 162, 255);
    height: 90px;
    width: 100%;
    background-image: url(./immagini/pattern.png);
    background-size: contain;
    padding-top: 10px;
}

#master_class{
    margin: 0;
}

.logo{
    height: 50px;
    width: auto;
    padding-top: 30px;
}
.side_main{
    font-size: 20px;
   
    
}
.sotto-titolo{
   color: gray;
}
p{
    margin: 0;
}
.data{
    color: grey;
    font-size: 15px;
}
h1{
    margin-bottom: 0;
}
.color-blue{
    color: rgb(0, 204, 255);
}
.imma{
    padding-top: 30px;
}
.sotto-foto{
    font-size: 12px;
}
.latino{
   padding-top: 20px;
    
}
.lista{
    margin-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
}
.tabella{
    padding-top: 40px;
    border-spacing: 0;
    width: 100%;
}
.acqua{
    padding-top: 30px;
}
h3{
    color: gray;
}
.giallo1{
    background-color: yellow;
}
.blocco1{
    background-color: rgb(0, 119, 255)
;
}
.venti{
    width: 25%;
}
.cinque{
    width: 50%;
}
.blocco2{
    background-color: rgb(0, 255, 255);
}