.side_header{
    background-color: rgb(0, 162, 255);
    height: 90px;
    width: 100%;
    background-image: url(./immagini/pattern.png);
    background-size: contain;
    padding-top: 10px;
}

#master_class{
    margin: 0;
}

.logo{
    height: 50px;
    width: auto;
    padding-top: 30px;
}
.side_main{
    font-size: 20px;
   
    
}
.sotto-titolo{
   color: gray;
}
p{
    margin: 0;
}
.data{
    color: grey;
    font-size: 15px;
}
h1{
    margin-bottom: 0;
}
.color-blue{
    color: rgb(0, 204, 255);
}
.imma{
    padding-top: 30px;
}
.sotto-foto{
    font-size: 12px;
}